/**
    Title: site.css
    Author: Jocelyn Dupuis
    Date: 06/22/2023
    Description: Styling for Jocelyn's Personal Portfolio
*/

:root {
    --primary: #1c5a66;
    --secondary: #86daeb;
    --accent: #3ecae6;
    --card-hover: #3a5f66;
  }

html, a, body, h1, h2, h3, h4, h5, h6, head, header, body, footer, p, nav, ul, li {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}

body {
  background: lightgray;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

#nav-container {
	background: url("images/nav.jpg");
	text-align: center;
	overflow: auto;
}

ul {
  list-style: none;
  margin: 7px;
}

li { 
  display: inline-block;
  padding: 25px; 
}

/**
li #bucket-list {
  display: block;
}
*/

#nav-list a:hover {
  color: #1c5a66;
  font-style: italic;
  text-decoration: underline;
}

h1 {
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	color: #C80F72;
	font-size: 3em;
  text-align: center;
  padding-top: 15px;
}

h2 {
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	color: #C80F72;
	text-align: center;
  font-size: 2.5em;
	padding: 25px 10px 0 20px;
	margin: 0 0 0 0;
}

h3 {
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	color: #C80F72;
	text-align: center;
  font-size: 1.75em;
	padding: 25px 10px 0 20px;
	margin: 0 0 0 0;
}

h4 {
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	color: black;
  font-weight: bold;
	text-align: center;
  font-size: 1.75em;
	padding: 25px 10px 0 20px;
	margin: 0 0 0 0;
}

h5 {
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	color: black;
  font-weight: bold;
	text-align: center;
  font-size: 1.5em;
	padding: 25px 10px 0 20px;
	margin: 0 0 0 0;
}

h6 {
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	color: black;
  font-weight: lighter;
	text-align: center;
  font-size: 1.5em;
	padding: 10px 10px 0 20px;
	margin: 0 0 0 0;
}

a {
  display: inline-block;
  margin: 0;
  padding: 5px 15px;
  color: #C80F72;
  font-weight: bold;
  text-decoration: none;
  background-color: lightgray;
  text-align: center;
}

p {
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	color: black;
  font-size: 1.5em;
  font-weight: lighter;
	text-align: center;
  line-height: 1.5;
	padding: 5px 20px 5px 20px;
}

hr {
  border: 3px solid #1c5a66;
  border-radius: 3px;
  width: 25%;
}

#line {
  border: 3px solid #1c5a66;
  border-radius: 3px;
  width: 5%;
}

/**
header {
	text-align: center;
	padding: 20px 10px;
	background: lightgray;
	background-repeat: no-repeat;
	background-size: auto 100%;
}
*/

.bucket-list {
  width: 55%;
  float: right;
  font-family: 'Oswald', "Times New Roman", "serif";
  font-size: 1.55em;
  text-align: center;
  font-weight: 300;
  background: url("images/checklist2.avif");
  background-size: 700px 910px;
  border-style: solid;
  border-color: #C80F72;
  border-radius: 15px;
}

.profile-picture {
  width: 38%;
  float: left;
  padding: 10px;
  background: #1c5a66;
  border-style: solid;
  border-color: #C80F72;
  border-radius: 15px;
  padding-left: 45px;
  padding-right: 45px;
  padding-top: 20px;
  padding-bottom: 15px;
}

.profile-pic {
  border-style: solid;
  border-color: #C80F72;
  border-radius: 15px;  
}

.bucket-list-item {
  display: grid;
}

.row-hobbies {
  display: grid;
  grid-template-columns: auto auto auto;
  background: url("images/background.jpeg");
  background-size: 1800px 500px;
  background-color: #1c5a66;
  border-style: solid;
  border-color: #C80F72;
  border-radius: 5px;
}

.column {
  flex: 33.33%;
  padding: 5px 50px;
}

.title {
  text-align: center;
  font-family: 'Oswald', "Times New Roman", "serif";
  font-size: 1.5em;
  font-weight: bold;
}

.pic {
  width: 400px;
  height: 350px;
  border: 2px;
  border-style: solid;
  border-color: #C80F72;
  border-radius: 15px;
}

/* resume styles */
.resume-work {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1px;
  padding-bottom: 0;
}

/* projects styles */
.projects {
  column-count: 2;
  column-gap: 0;
  column-rule-style: solid;
  column-rule-width: 2px;
  padding-bottom: 0;
}

.content-project {
  font-size: 1.25em;
}

/* card styles */
.card-content {
  text-align: center;
}

.card-container {
  max-width: 75%;
  margin: 0 auto;
}

.grid-equal-columns {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(3, 1fr);
}

/* video styles */
video {
  max-width: 100px;
}

.video-content {
  max-width: 25%;
  max-height: 25%;
  overflow: hidden;
}

/* Footer styles */
#footer {
  margin-top: auto;
  text-align: center;
}

#footer a:hover {
  color: #1c5a66;
  font-style: italic;
  text-decoration: underline;
}

